body {text-align: center;}
.header {
    background-color: #0a1122;
    color: white;
    padding: 10px 0;
    position: fixed;
    top: 0;
    box-shadow: 5px 5px 10px 5px grey;
    z-index: 1;
    width: 100%;
}
.col-sm {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}
.instructions {
    padding: 160px;
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    margin-bottom: 40px;
}
.cats {
    margin: 20px;
    border: white 5px solid;
    box-shadow: 5px 5px 10px 5px grey;
}

.cats:hover {
    box-shadow: 10px 10px 20px 10px grey;
    transform: scale(1.1);
}

.before-footer {
    padding: 20px;
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 30px;
}

footer {
    text-align: left;
    background-color: #0a1122;
    color: white;
    padding: 10px;
}

#shake .cats{
  animation: shake 0.5s;
  animation-iteration-count: 5s;
}

@keyframes shake {
  0% { transform: translate(5px, 5px) rotate(0deg); }
  10% { transform: translate(-5px, -10px) rotate(-1deg); }
  20% { transform: translate(-15px, 0px) rotate(1deg); }
  30% { transform: translate(12px, 10px) rotate(0deg); }
  40% { transform: translate(5px, -5px) rotate(1deg); }
  50% { transform: translate(-5px, 10px) rotate(-1deg); }
  60% { transform: translate(-15px, 5px) rotate(0deg); }
  70% { transform: translate(15px, 5px) rotate(-1deg); }
  80% { transform: translate(-5px, -5px) rotate(1deg); }
  90% { transform: translate(5px, 10px) rotate(0deg); }
  100% { transform: translate(5px, -10px) rotate(-1deg); }
}

#none {
  animation: none; 
}

#shake2 .cats {
  animation: shake2 0.5s;
  animation-iteration-count: 5s;
}

@keyframes shake2 {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(20deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(20deg); }
  50% { transform: translate(-1px, 2px) rotate(-20deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-20deg); }
  80% { transform: translate(-1px, -1px) rotate(20deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-20deg); }
}

/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
